* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 160px;
    height: 90px;
}
.logo {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-text {
    transform: translate(-10px, -5px);
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
}
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    color: black;
}

.nav a:hover{
    background-color:lightgray;
    border-radius: 5px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-wrapper button {
    padding: 8px 10px;
    border:1px solid darkgray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    color: black;
    background-color: transparent;
}

.btn-wrapper button:hover{
    border:1px solid black;
}
.menu-btn {
    display:none;
    width: 36px;
    height: 24px;
    background-color: transparent;
    border:none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 685px;
    text-align: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter;
}
.about {
    align-items: center;
    justify-content: center;
    height: 400px;
    text-align: center;
    background-color: lightgray;
    padding: 10px 10px; 
}
.heading{
    display: flex;
    align-items: center;
    text-align: center;
    margin:20px 0;
    font-family: inter;
    width:100%;
}
.heading::before,
.heading::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
}
.heading h2 {
    padding: 0 15px;
}
.about-content {
    display: flex;
    text-align: left;
    justify-content: space-around;
    font-family: inter;
    padding: 10px 10px;
    margin-top: 20px;
}
.about-image {
    width: 200px;
    height: 200px;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/* Media Queries */
@media(max-width : 320px){
    .header{
        padding: 25px 10px;
    }
    .about{
        height: 500px;
    }
    .about-content{
        flex-direction: column;
        justify-content: space-around;
    }
    .about-image{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 768px) {
    .header {
        width: auto;
        height: 90px;
        padding: 0 30px;
    }
    .menu-btn {
        display: flex;
    }
    .btn-wrapper, .nav {
        display: none;
    }
    .hero {
        height: 400px;
    }
    .about {
        height: 300px;
    }
    .about-content {
        flex-direction: column;
        justify-content: space-around;
    }
    .about-image {
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .header {
        padding: 25px 30px;
    }
    .hero {
        height: 500px;
    }
    .about {
        height: 350px;
    }
    .about-content {
        padding: 10px 10px;
        justify-content: space-around;
    }
}
@media (min-width: 2560px) {
    .nav a {
        font-size: 20px;
    }
    .hero {
        height: 800px;
        font-size: 30px;
    }
    .about {
        height: 500px;
    }
    .heading h2 {
        font-size: 40px;
    }
    .about-content {
        padding: 20px 20px;
        font-size: 30px;
    }
    .about-image img {
        height: auto;
    }
}

