.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 160px;
    height: 90px;
}
.logo {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-text {
    transform: translate(-10px, -5px);
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
}
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    color: black;
}

.nav a:hover{
    background-color:lightgray;
    border-radius: 5px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-wrapper button {
    padding: 8px 10px;
    border:1px solid darkgray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    color: black;
    background-color: transparent;
}

.btn-wrapper button:hover{
    border:1px solid black;
}
.menu-btn {
    display:none;
    width: 36px;
    height: 24px;
    background-color: transparent;
    border:none;
}
@media (max-width: 768px) {
    .header {
        width: auto;
        height: 90px;
        padding: 0 30px;
    }
    .menu-btn {
        display: flex;
    }
    .btn-wrapper, .nav {
        display: none;
    }
    .hero {
        height: 400px;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .header {
        padding: 25px 30px;
    }
    .hero {
        height: 500px;
    }
}
@media (min-width: 2560PX) {
    .nav a {
        font-size: 20px;
    }
    .hero {
        height: 800px;
    }
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 685px;
    text-align: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter;
}