* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 160px;
    height: 90px;
}
.logo {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-text {
    transform: translate(-10px, -5px);
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
}
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    color: black;
}

.nav a:hover{
    background-color:lightgray;
    border-radius: 5px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-wrapper button {
    padding: 8px 10px;
    border:1px solid darkgray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    color: black;
    background-color: transparent;
}

.btn-wrapper button:hover{
    border:1px solid black;
}
.menu-btn {
    display:none;
    width: 36px;
    height: 24px;
    background-color: transparent;
    border:none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 685px;
    text-align: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter;
}
.about {
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
    background-color: lightgray;
    padding: 10px 10px; 
}
.heading{
    display: flex;
    align-items: center;
    text-align: center;
    margin:20px 0;
    font-family: inter;
    width:100%;
}
.heading::before,
.heading::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
}
.heading h2 {
    padding: 20px 15px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    font-family: inter;
    gap: 20px;
}
.about-text {
    flex: 1;
    line-height: 1.5;
    font-size: 15px;
}
.about-text p{
    margin-bottom: 20px;
    text-align: left;
}
.about-image {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 10px;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries */
@media(max-width : 480px){
    .header{
        padding: 25px 10px;
    }
    .about {
        padding: 40px 15px;
    }

    .heading h2 {
        font-size: 22px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    
    .about{
        height: auto;
    }
    .about-text {
        font-size: 14px;
    }

    .about-image {
        width: 100%;
        max-width: 260px;
        height: 180px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .header {
        width: auto;
        height: 90px;
        padding: 0 30px;
    }
    .menu-btn {
        display: flex;
    }
    .btn-wrapper, .nav {
        display: none;
    }
    .hero {
        height: 400px;
    }
     .about {
        padding: 50px 30px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        width: 280px;
        height: 200px;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .header {
        padding: 25px 30px;
    }
    .hero {
        height: 500px;
    }
    .about {
        padding: 60px 60px;
    }

    .about-container {
        gap: 40px;
    }

    .about-image {
        width: 280px;
        height: 200px;
    }
}
@media (min-width: 2560px) {
    .nav a {
        font-size: 20px;
    }
    .hero {
        height: 800px;
        font-size: 30px;
    }
    .about {
        padding: 80px 200px;
    }

    .heading h2 {
        font-size: 36px;
    }

    .about-text {
        font-size: 18px;
    }

    .about-image {
        width: 400px;
        height: 260px;
    }
}

